<tr class="odd">
    <td class="sorting_1">
      <div class="d-flex align-items-center gap-6">
        <img src="user-05.jpg" width="45" class="rounded-circle">
        <h6 class="mb-0">  <%= consultum.paciente.nome %></h6>
      </div>
    </td>
    <td> <div class="d-flex align-items-center gap-6">
        <img src="user-05.jpg" width="45" class="rounded-circle">
        <h6 class="mb-0"> <%= consultum.medico.nome %></h6>
      </div></td>
    <td><%= consultum.tipo %></td>
    <td><%= consultum.data_consulta %></td>
    <td><%= consultum.paciente.nome %></td>
    <td><%= consultum.paciente.nome %></td>
  </tr>