<%= form_with(model: consultum) do |form| %>
  <% if consultum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
        <% consultum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card">
  <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <label class="form-label" for="validationServer01">Médico</label>
                        <%= form.collection_select :medico_id, @medicos, :id, :nome, { prompt: "Selecione um Médico" }, { class: 'form-control', required:  'true'} %>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label class="form-label" for="validationServer01">Paciente</label>
                        <%= form.collection_select :paciente_id, @pacientes, :id, :nome, { prompt: "Selecione um Paciente" }, { class: 'form-control', required:  'true'} %>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label class="form-label" for="validationServer01">Data e hora da consulta</label>
                        <%= form.datetime_field :data_consulta,  { class: 'form-control', required:  'true'} %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check mr-sm-2">
                        <input type="checkbox" class="is-invalid form-check-input" id="invalidcheck2" required="">
                        <label class="form-check-label" for="invalidcheck2">Agree to terms and conditions</label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary rounded-pill px-4 mt-3" type="submit">
                      Submit form
                    </button>
                  </form>
                </div>
    </div>
  </div>
<% end %>
